/* 
    Created on : Nov 26, 2016, 11:23:43 AM
    Author     : Johny Chan
*/
#bigtitle{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Cornerstone;
    -fx-font-size: 90px;
    -fx-font-weight: BOLD;
    
}

#buttondark{
    -fx-border: 0; 
    -fx-color: #263238;
    -fx-text-fill: #FFFFFF; 
    -fx-width: 20px; 
    -fx-font-family: Raleway; 
    -fx-font-size: 20px;
    -fx-font-weight: 400;
    -fx-background-insets: 0;
    -fx-border-style: none;
}

#buttonlight{
    -fx-color: #CFD8DC; 
    -fx-text-fill: #263238; 
    -fx-width: 20px; 
    -fx-font-family: Raleway; 
    -fx-font-size: 20px;
    -fx-font-weight: 400;
    -fx-background-insets: 0;
    -fx-border-style: none;
}

#smallbutton{
    -fx-color: #FFFFFF; 
    -fx-text-fill: #263238; 
    -fx-font-family: Raleway; 
    -fx-font-size: 16px; 
    -fx-font-weight: 400;
    -fx-border-style: none;
    -fx-background-insets: 0;
    
}

#tfield{
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-family: Raleway; 
    -fx-font-size: 18px;
    
}



#title{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Raleway;
    -fx-font-size: 40px;
    -fx-font-weight: 300;
    -fx-background-fills: transparent;
    
}

#url{
    -fx-font-size: 18px;
}

#p{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Raleway;
    -fx-font-size: 15px;
    -fx-font-weight: 300;
}

#h2{
    -fx-text-fill: #ECEFF1;
    -fx-font-family: Raleway;
    -fx-font-size: 15px;
}

#h3{
    -fx-text-fill: #FFFFFF; 
    -fx-font-family: Raleway; 
    -fx-font-size: 18px;
    -fx-font-weight: bold; 
    
}

#h4{
    -fx-text-fill: #FFFFFF; 
    -fx-font-family: Raleway; 
    -fx-font-size: 25px;
    
}

#pane{
    -fx-alignment: center;
    -fx-background-color: #263238; 
    -fx-padding: 15;
}

.background{
    -fx-background-color: #37474F;
}
.heading {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: Raleway;
	-fx-font-size: 30px;
	-fx-font-weight: 700;
}
.button {
	-fx-color: #263238;
	-fx-text-fill: #FFFFFF;
	-fx-font-family: Raleway;
	-fx-font-size: 15px;
        -fx-background-insets: 0;
        -fx-border-style: none;
}
.button-white {
	-fx-color: #FFFFFF;
	-fx-text-fill: #263238;
	-fx-font-family: Raleway;
	-fx-font-size: 15px;
	-fx-font-weight: 400;
        -fx-background-insets: 0;
        -fx-border-style: none;
}
.main-bg {
	-fx-background-color: #37474F;
}
.grid-bg {
	-fx-background-color: #263238;
    -fx-padding: 6;
}
